body {
}

.login-container {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.form-header {
    font-size: 22px;
    font-weight: 500;
}

.input-multi {
    width: 50px;
    border-radius: 8px;
    border-width: 2px;
}

.bg-black {
    background-color: #555555;
    color: white;
}

.tb-radius {
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/*input[type='checkbox'][disabled] {
    width: 18px;
    height: 18px;
    background-color: red;
}*/

@-webkit-keyframes progress {
    0% {
        left: 0;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        transform: translateX(0%);
    }
}

.loader {
    width: 100%;
    height: 6px;
    background: lightgrey;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
}

    .loader::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 30%;
        background: #007bff;
        /*background: rgb(36,0,2);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(72,159,213,1) 0%, rgba(238,174,202,1) 94%);*/
        animation: progress 2s infinite linear;
    }

.loader-cycle {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 180px;
    height: 180px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
